@use "variables";
* {
  background-color: #e6d7c7;
  color: #704d2a;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family;
  font-weight: 400;
}
