header {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
