$font-family: "Roboto", sans-serif;
$background: #fefae0;
$secondary-background: #e9edc9;
$primary-color: #c2ad96;
$secondary-color: #dda15e;
$nav-color: #333;
$font-color: #7f5539;
$nav-color: rgb(49, 42, 42);
