@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  background-color: #fefae0;
  color: #7f5539;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

main {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 28px;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 28px;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 15px;
  font-weight: 400;
}

h6 {
  font-size: 28px;
  margin-bottom: 25px;
}

.side-nav {
  background-color: #7f5539;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 110vh;
  padding-top: 60px;
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}
.side-nav--open {
  left: 0;
}

.side-nav__header {
  background-color: #7f5539;
  padding: 10px;
  margin-bottom: 20px;
}

.side-nav__items {
  background-color: #7f5539;
  list-style-type: none;
  padding: 0;
}

.side-nav__item {
  background-color: #7f5539;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.nav__item:hover {
  background-color: #555;
}

.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  position: sticky;
  top: 0;
}
.mobile-nav img {
  height: 40px;
  margin: 20px;
}

.nav {
  display: none;
  z-index: 1000;
}

.header__img {
  display: none;
  animation: pulse 4s infinite;
}
.header .auto-type {
  color: rgb(62, 55, 55);
}

.content {
  margin: 0;
  width: 100%;
}
.content__container {
  background-color: #e9edc9;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}
.content__container .content__coffee {
  display: none;
}
.content__container .content__h2 {
  background-color: #e9edc9;
}
.content__container p {
  background-color: #e9edc9;
}
.content__img {
  border-radius: 10px;
  margin-top: 45px;
  height: 380px;
  width: 280px;
}
.content__img:hover {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(0) translateX(0);
  }
  25% {
    transform: rotate(-5deg) translateX(-5px);
  }
  50% {
    transform: rotate(5deg) translateX(5px);
  }
  75% {
    transform: rotate(-5deg) translateX(-5px);
  }
  100% {
    transform: rotate(0) translateX(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.content__description {
  width: 100%;
  background-color: #e9edc9;
  margin-top: 40px;
}
.content__description h2 {
  display: none;
}
.content__technical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
  font-weight: 700;
}
.content__technical p {
  margin-top: 40px;
}
.content__technical-grid {
  margin-top: 60px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
}
.content__technology {
  border-radius: 10px;
  margin-bottom: 12px;
  transition: transform 0.3s;
}
.content__technology:hover {
  transform: scale(1.1);
}
.content__technology img {
  max-width: 50px;
  margin-bottom: 15px;
}
.content .projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .projects__card {
  width: 330px;
  height: 690px;
  margin-top: 30px;
  margin-bottom: 90px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}
.content .projects__card:hover {
  transform: scale(1.1);
}
.content .projects__card-img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  filter: blur(5px);
  transition: filter 1s;
}
.content .projects__card-img:hover {
  filter: none;
}
.content .projects__card-details {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  height: 360px;
}
.content .projects__card-details p {
  text-align: left;
  font-size: 13px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.content .projects__title {
  margin: 10px;
  font-size: 30px;
  text-align: left;
}
.content .projects__card-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .projects__card-button {
  font-family: "poppins";
  height: 50px;
  width: 140px;
  justify-self: flex-end;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #dda15e;
  cursor: pointer;
}
.content .projects__card-button:first-child {
  margin-right: auto;
}
.content .projects__card-button:last-child {
  margin-left: auto;
}
.content .projects__card-button:hover {
  background-color: #555;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  background-color: #333;
  color: white;
  padding: 20px;
  width: 118.5%;
  height: 150px;
  text-align: center;
  font-size: 10px;
}
.footer a {
  background-color: #333;
}
.footer__icons {
  background-color: #333;
}
.footer__icon {
  background-color: #333;
  width: 40px;
  transition: transform 0.3s;
  margin-right: 10px;
}
.footer__icon:hover {
  transform: scale(1.1);
}
.footer__email {
  width: 200px;
  margin-top: 10px;
  font-family: "poppins";
  background-color: #333;
  color: #c2ad96;
  font-size: 15px;
  transition: transform 0.3s;
}
.footer__email:hover {
  transform: scale(1.1);
}
.footer .content {
  display: flex;
  align-items: flex-start;
}
.footer .content__img {
  order: -1;
}
.footer .content__description {
  flex: 1;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .side-nav {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px dotted whitesmoke;
    padding: 30px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
  }
  .nav__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }
  .nav__item {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
  }
  .nav__item:hover {
    border: 2px solid #7f5539;
    transform: scale(1.1);
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__welcome {
    width: 60%;
  }
  .header p {
    font-size: 1.8rem;
  }
  .header__img {
    display: flex;
    height: 450px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .content__h2 {
    display: none;
  }
  .content__container {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .content__container .content__coffee {
    display: block;
    background: none;
    width: 110px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .content__img {
    height: 80vh;
    width: calc(40% - 20px);
  }
  .content__description {
    background-color: #e9edc9;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 100%;
    max-height: 65%;
    font-size: 1.5rem;
  }
  .content__description h2 {
    background-color: #e9edc9;
    display: flex;
    margin: 50px;
    text-align: center;
    margin: bottom 100px;
  }
  .content__description p {
    background-color: #e9edc9;
  }
  .content__technical {
    width: 100%;
  }
  .content__technical-grid {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    width: calc(100% - 40px);
  }
  .content__technology {
    width: calc((100% - 150px) / 3);
  }
  .content .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
  }
  .footer {
    width: 104.5%;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 80px;
    padding: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 966px) {
  .nav {
    padding: 30px 5%;
  }
  .header {
    padding: 0 5%;
  }
  .header__welcome {
    width: 50%;
  }
  .content {
    width: 100%;
  }
  .content__technical-grid {
    padding-left: 5%;
    padding-right: 5%;
    gap: 30px;
  }
  .footer {
    width: 100%;
    padding: 0 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
  h6 {
    font-size: 24px;
  }
  .header__img {
    height: 300px;
  }
  .content__description {
    font-size: 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .content__description .projects__card {
    background-color: black;
  }
  .content .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .content .footer {
    width: 106.4%;
  }
}
@media screen and (max-width: 360px) {
  .header .auto-type-h1 {
    font-size: 40px;
  }
  .content__description {
    font-size: 14px;
  }
  .content .footer {
    width: 100%;
  }
  .content__card-details {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px;
    overflow: hidden;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */